.auth-form {
  text-align: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  font-family: 'bebasNeue';
  width: 300px;

}

.auth-input {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.auth-btn {
  background-color: #F58C6C;
  border-radius: 10;
}
.auth-btn-focus{
  background-color: #95CAFE;
}
.gender {
  display: flex;
  flex-grow: 1;
  height: 50;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.auth-divider {
  height: 40%;
}
