.columnStyle {
  display: flex;
  flex-grow: 10;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.thumbnailContainerStyle: {
  flex: 2;
  justify-content: 'space-between';
  padding: 10;
}

.arrowStyle: {
    flex: 1;
    padding: 10
  }

  .imageStyle: {
    height: 60;
    width: 60;
    align-self: 'center'
  }
  .headerContentStyle: {
      flex: 8;
      flex-direction: 'column';
      justify-content: 'center'
}

.headerTextStyle: {
    color: '#213140'

  }
