
html, body, #reactapp, .App {
         height: 100%;
       }

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;


}
.header-image{
  height: 40px;

}

.App-logo {
  height: 300px;
}
/*
<img src={require('./components/images/LOGO.png')} className="App-logo" alt="logo" />
*/

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #2c3e50;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  font-size: large;
  font-family: 'bebasNeue';

}
.list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  background-color: #95CAFE;
  color: white;
  font-size: large;
  font-family: 'bebasNeue';

}
.App-main{
  display: flex;
  flex-grow: 10;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #95CAFE;
  padding: 20px;
  color: white;
  font-family: 'bebasNeue';

}

.App-intro {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: large;
}
.low-text {
  background-color: #95CAFE;
  text-align: center;
  padding: 20px;
  color: white;
  font-family: 'bebasNeue';
}
.under-Div{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  color: #2c3e50;
  font-size: large;
  font-family: 'bebasNeue';

}
.info{
  height: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.under-info {
  height: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.info-image {
  height: 40px;
}
.home-main {
  display: flex;
  flex-grow: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #95CAFE;
  padding: 20px;
  color: white;
   font-family: 'bebasNeue';
}

.home-buttons{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-image {
  height: 300px;
}

.list-container {
  display: flex;
  flex-grow: 10;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #95CAFE;
  padding: 20px;
  color: white;
  font-family: 'bebasNeue';
}
.list-main {
  display: flex;
  flex-grow: 1;
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
}
.list-image {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.list-text {
  flex-grow: 8;
  text-align: left;
  flex-direction: column;
  color: white;

}

.queue-info-main{
  display: flex;
  flex-grow: 10;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #95CAFE;
  padding: 20px;
  color: white;
  font-family: 'bebasNeue';

}
.info-container {
  display: flex;
  flex-grow: 1;
  width: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #2c3e50;
  color: white;
  font-family: 'bebasNeue';
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@font-face {
  font-family: 'bebasNeue';
  src: url(./assets/fonts/bebasNeue.ttf) format('truetype');
}
